services:
  mongo:
    build:
      context: ../
      dockerfile: docker/mongo.Dockerfile
    container_name: mongo-flights
    ports: ["27017:27017"]
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  kafka:
    build:
      context: ../
      dockerfile: docker/kafka.Dockerfile
    container_name: kafka
    ports: ["9092:9092"]
    environment:
     KAFKA_CLUSTER_ID: 9TB_p1JOTMuzTbtikgyM2g
     KAFKA_NODE_ID: 1
     KAFKA_PROCESS_ROLES: broker,controller
     KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
     KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
     KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
     KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 30s


  spark:
    build:
      context: ..
      dockerfile: docker/spark.Dockerfile
    container_name: spark
    depends_on:
      - mongo
      - kafka
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - KAFKA_BOOTSTRAP=kafka:9092
    volumes:
    - ../models:/app/models

  flask:
    build:
      context: ../
      dockerfile: docker/flask.Dockerfile
    container_name: flask-app
    depends_on:
      - mongo
      - kafka
      - spark
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - KAFKA_BOOTSTRAP=kafka:9092

volumes:
  mongo_data:
  kafka_data:
